.Chessboard-container {
    text-align: center;
    display: flex;
    margin: auto;
}

.Chessboard {
    /* TODO: cleanup */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &-row {
        display: flex;
    }

    &-square {
        display: flex;
        width: 48px;
        height: 48px;

        &.black {
            background-color: #006400;
        }
        &.white {
            background-color: #eee;
        }
    }

    &-piece {
        color: black;
        font-family: 'Smart Regular';
        font-size: 34px;
        cursor: pointer;
        margin: auto;

        &.dragging {
            color: #aaa;
        }

        &.black {
            color: black;
        }
    }

    &-column-label-row {
        display: flex;
        margin-left: 40px;
    }

    &-row-label-square {
        display: flex;
        width: 35px;
        height: 48px;
    }

    &-column-label-square {
        display: flex;
        width: 48px;
        height: 30px;
    }

    &-column-label-text {
        margin: auto;
    }
}

.Sidebar {
    margin-left: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-player-control {

    }

    &-piece-queue {
        border: 1px solid red;
        display: flex;
        max-width: 100px;
    }

    &-queue-piece {
        font-family: 'Smart Regular';
        font-size: 34px;
        cursor: pointer;
    }
}