.App {
}

.App-header {
  background-color: #222;
  height: 50px;
  padding-left: 30px;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  &__text {
    font-size: 24px;
  }
}

.App__container {
  padding: 30px 20px 30px;
}

.Game {  
  display: flex;

  &--other {
    pointer-events: none;
    user-select: none;
    transform: scale(0.8);
  }
}

.HomePage {
  text-align: center;
}
