.App {
  &-header {
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

.App__container {
  padding: 30px 20px 30px;
}

.Game {
  &__boards {
    display: flex;
  }

  &--other {
    pointer-events: none;
    user-select: none;
    transform: scale(0.8);
  }
}

.HomePage {
  text-align: center;
}
